<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60013895922-dah3v0l99vn1fq1et08ejauefst3o6oc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60013895922-dah3v0l99vn1fq1et08ejauefst3o6oc</string>
	<key>API_KEY</key>
	<string>AIzaSyC3NjsuEJ1stRrp6uin7UIXVE1x4qUvPi0</string>
	<key>GCM_SENDER_ID</key>
	<string>60013895922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.laughtale.yuzu</string>
	<key>PROJECT_ID</key>
	<string>yuzu-c5e6a</string>
	<key>STORAGE_BUCKET</key>
	<string>yuzu-c5e6a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60013895922:ios:3bd26bdffb79defdbc706b</string>
</dict>
</plist>